################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/LteModeling.VC.VC.opendb
/Release
/Debug
/LteModeling.VC.db
